ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}
li {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
img {
  height: 40px;
  width: 40px;
  padding: 4px 0px 0px 4px;
}

div {
  display: grid;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: greenyellow;
}
nav {
  position: fixed;
  width: 100%;
}
